html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main-content {
  overflow: auto;
}
.navbar-nav-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
